<div class="cart-item">
  <img class="thumb" [src]="imageUrl" [alt]="game?.name" />

  <div class="info">
    <div class="title-row">
      <a class="title" [routerLink]="['/games', game?.key]">{{ game?.name }}</a>
      <button class="remove" (click)="remove()">{{ 'CART.Remove' | t }}</button>
    </div>
    <div class="price">
      <span class="now">${{ discountedPrice() }}</span>
      <span *ngIf="item.discount" class="old">${{ item.price.toFixed(2) }}</span>
    </div>

    <div class="qty">
      <button class="button minus" (click)="decrease()">−</button>
      <span class="val">{{ item.quantity }}</span>
      <button class="button plus" (click)="increase()">+</button>
    </div>
  </div>
</div>
