<section class="content grid">
  <div class="grid grid-2">

    <!-- Left column: article with bullets -->
    <article class="article">
      <h2 class="title">Do You Know Who is John Rembo?</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis metus non dignissim ultricies. Morbi
        tincidunt libero non mi lacinia pharetra. Mauris venenatis urna sed malesuada dictum. Morbi ut vehicula tortor,
        vitae mollis risus. Sed feugiat diam sit amet rutrum vehicula. Pellentesque sed lobortis lacus. Etiam massa
        odio, accumsan sed sem at, viverra porttitor mauris. Donec ac tincidunt urna. Aenean eu magna porttitor,
        sollicitudin nunc a, elementum massa. Ut volutpat mauris nec felis dapibus, in pellentesque risus tincidunt.
        Nullam eget leo eget diam dictum venenatis vel a dolor. Duis aliquam tincidunt purus a placerat. Praesent
        pharetra metus non velit tincidunt maximus.</p>
      <ul class="bullets">
        <li>Proin commodo sodales arcu, a volutpat augue facilisis et.</li>
        <li>Nam pellentesque finibus felis eget feugiat.</li>
        <li>Nulla convallis a nisl non vehicula.</li>
      </ul>
      <button class="btn">{{ 'MAIN.LearnMore' | t }}</button>
    </article>

    <aside class="spotlight">
      <h2 class="title">We Knoked Em'll</h2>
      <img src="assets/sony-vr.jpg" alt="Sony Playstation VR" />
      <div class="spotlight__caption">
        <a routerLink="/">
          <div>Sony<br />Playstation VR ›</div>
        </a>
      </div>
    </aside>
  </div>
</section>
